[submodule "lang"]
	path = lang
	url = https://github.com/mmatyas/pegasus-frontend-translations.git
	branch = master
[submodule "src/themes/pegasus-theme-grid"]
	path = src/themes/pegasus-theme-grid
	url = https://github.com/mmatyas/pegasus-theme-grid.git
